*output*
data/
wandb/

*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*pycache*/
*.log
*.html
*.venv/
*.temp/
*.pdf

*.jsonl
# *.sh
*temp*

*checkpoint*/

.DS_Store
bucket_color.md

.cache/
*tmp/

figs/

logs/

.env
